#marquee{
	background: $primary-color;
	position:fixed;
	top:-100px;
	left:0;
	right:0;
	z-index: 99999;
	@include shadow;
	font-size: 1.2em;
	
	
	&.slideIn{
		top: 0;
		@include transition(all 200ms ease-in-out);
	}

	p{
		padding: .5em 2em;
		font-weight: bold;
		font-size: em(14);
		text-align: center;
	}
	
	*{color: white;}
	+.container{
		margin-top: 50px;
	}
	
}
header[role="banner"]{
    position: relative;
    @media screen and (min-width:$screen-sm) and (orientation:landscape) {
        height:100vH;
        nav {
            background: white;
            position: absolute;
            width: 100%;
            bottom: 0;
            z-index: 9;
            margin-bottom: -10px;
        }
    }
}
.logo{
    background: #fff;
    @include shadow;
    padding: 2em;
    body.home & {
    	@include transform(scale(0.75) rotate(-3deg));
    	bottom: 2em;
    }
    body:not(.home) & {
    	@include transform(scale(0.5) rotate(-3deg));
    	bottom: -2em;
    	}
    @include transform-origin(top center);
    position: absolute;

    width: 70%;
    left:15%;
    z-index: 99;
}
body > footer {
	padding: 2em 0 0 0;
    background: #292B33;
    * {color:white;}
}
main[role="main"] {
    padding-top:2 * $vgrid;
    > section{
        margin:0 0 20vH 0;

    }
}

