#marquee{
	background: $primary-color;
	position:fixed;
	top:-100px;
	left:0;
	right:0;
	z-index: 99999;
	@include shadow;
	font-size: 1.2em;
	
	
	&.slideIn{
		top: 0;
		@include transition(all 200ms ease-in-out);
	}

	p{
		padding: .5em 2em;
		font-weight: bold;
		font-size: em(14);
		text-align: center;
	}
	
	*{color: white;}
	+.container{
		margin-top: 50px;
	}
	
}
header[role="banner"]{
	position: relative;
}
.logo{
    background: #fff;
    @include shadow;
    padding: 2em;
    @include transform(scale(0.75) rotate(-3deg));
    @include transform-origin(top center);
    position: absolute;
    top: 75%;
    width: 100%;
    z-index: 99;
}
body > footer {
	padding: 2em 0 0 0;
    background: #292B33;
    * {color:white;}
}
main[role="main"] > section{
	margin:0 0 20vH 0;
}