#main-menu{
    font-family: $heading-font-family;
    @include padding(2em null 3em null);
    text-transform:uppercase;
    font-weight: bolder;
    font-size: rem(36);
    ul {
        list-style: none;
        text-align: center;
        @extend %reset;
        li {
            display:inline-block;
            margin:0 1em 0 0;
            a {
                color:black;
                &:hover{
                    text-decoration: none;
                    position:relative;
                    color:rgba(0,0,0,.5);
                    &:after{
                        content:' ';
                        background:transparent url(../svg/hover.svg) 25% 50% no-repeat;
                        background-size: contain;
                        position:absolute;
                        top:0;
                        left:0;
                        right:0;
                        bottom:0;
                    }
                
                }
            }
            &.sounds-videos a:hover{background-size: cover;}
        }
    }
}
.navbar-toggle{
    display: none;
}
.navbar-brand{
    @media screen and (min-width:$screen-sm){display:none;}
}

.sub-menu{
	display: none;
}
.social-media {
    max-height:30px;
    li {
        display: inline-block;
        padding:0 .5em;
        a span {
            @extend %text-indent;
        }
        a:before{
            color:white;
            display: inline-block;
            width: 30px;
            height: 30px;
        }
    }
    li.facebook a:before{
        @include icon-style("\f082", 0, 1, 0, 2em);
    }
    li.youtube a:before{
        @include icon-style("\f16a", 0, 1, 0, 2em);
    }
}