#main-menu{
    font-family: $heading-font-family;
    @media screen and (max-width:$screen-xs) {
        margin:1em 0 0 0;
    }
    @media screen and (min-width:$screen-sm){
        @include padding(2em null 3em null);
    }
    
    text-transform:uppercase;
    font-weight: bolder;
    font-size: rem(36);
    ul {
        list-style: none;
        text-align: center;
        @extend %reset;
        li {
            display:inline-block;
            
            @media screen and (max-width:$screen-xs){
                margin:0 .5em;
                min-height:40px;
            }
            @media screen and (min-width:$screen-sm){margin:0 1em 0 0;}
            a {
                color:black;
                &:hover{
                    text-decoration: none;
                    position:relative;
                    color:rgba(0,0,0,.5);
                    &:after{
                        content:' ';
                        background:transparent url(../svg/hover.svg) 25% 50% no-repeat;
                        background-size: contain;
                        position:absolute;
                        top:0;
                        left:0;
                        right:0;
                        bottom:0;
                    }
                
                }
            }
            &.sounds-videos a:hover{background-size: cover;}
        }
    }

}

#main-nav{

	@media screen and (max-width:$screen-xs){
		#main-menu{
			height:0;
			overflow:hidden;
		}
		&:target #main-menu{
			height:120px;
		}	
	}
}

.navbar-header{
    @media screen and (max-width:$screen-xs) {
        position:fixed;
        background:white;
        top:0;
        left:0;
        right:0;
        z-index:999999;
        @include align-items(stretch);
        @include display(flex);
        @include flex-direction(row);
        @include justify-content(flex-start);
    > .navbar-brand{
        @include flex(2);
    	}
    }
    
}
.navbar-toggle{
    padding:.5em;
    @include size(44px);
    display:inline-block;
    &, &:focus{
        background: transparent;
    }
    
    
   .sr-only{
       display: none;
   }
   .icon-bar{
       background: $primary_color;
       display: block;
       height:3px;
       margin-bottom: .5em;
   }

}


.navbar-brand{
        @media screen and (max-width:$screen-xs) {
        background:transparent url('../img/logo.svg') no-repeat center center;
        background-size:auto 50%;
        padding:.2em 1em;
        text-indent:-999999px;
        display:inline-block;
        overflow:hidden;
    }
}

.sub-menu{
	display: none;
}
.social-media {
    max-height:30px;
    li {
        display: inline-block;
        padding:0 .5em;
        a span {
            @extend %text-indent;
        }
        a:before{
            color:white;
            display: inline-block;
            width: 30px;
            height: 30px;
        }
    }
    li.facebook a:before{
        @include icon-style("\f082", 0, 1, 0, 2em);
    }
    li.youtube a:before{
        @include icon-style("\f16a", 0, 1, 0, 2em);
    }
}