.widget_em_widget{
    li {
        a {
            font-weight: bold;
            text-transform: uppercase;
        }

    }
}
.blog + aside {
    @include outer-container;
    .sidebar-widget{
        @include span-columns(6);
    }
}
.sidebar-widget {
    > [class*="widget_"]{
        margin-bottom: 3em;
    }
    .search{
       @include outer-container;
       > .search-input{
           @include span-columns(8);
       }
       > .search-submit{
           @include span-columns(4);
       }
    }
}
.comments{
    .comment-body{
        @include outer-container;
        > .comment-author{
            @include span-columns(4);
        }
        > .comment-meta{
            @include span-columns(8);
        }

    }
}