form{
    input, select, textarea,
    button, .button,
    input[type="button"], 
    input[type="reset"], 
    input[type="submit"] 
    {
        font-size: 1em;
    }
    .newsletter-widget & {
        
        @include outer-container;
        p {
            input {
                width:100%;
                padding:.5em 1em;
                &.newsletter-submit{text-align: left;}
                    &[type="checkbox"]{
                        float:left;
                        width:auto;
    }
            }
        }
    }
}