.container{
    width:980px;
}
.marquee{
    padding:2* $vgrid $vgrid;
    font-size: large;
    background: #000;
    &, & *{color:white;}
    .container{
        p{
            white-space: nowrap;
            width: 100%;
            overflow: hidden;
            display: block;
        }
    }
}
.carousel{
    .container{
        @extend %reset;
    }
    height:570px;
    margin:0 auto;
    .carousel-inner{
        height:100%;
        
        .item{
            img {
                max-width: 100%;
                height:auto;
            }
        }

    }
}
.logo{
    width:60%;
    margin:0 auto;
    padding:2*$vgrid;
}