.header-image{
    height:100vH;
    display: block;
    text-align: center;
    width:100%;
    overflow:hidden;
    > img {
        max-width: 100%;
    }
}
.flexslider{
    .item{
        @media screen and (min-width:$screen-sm) and (orientation:landscape){
            height:calc(100vH);
            overflow:hidden;
            img {
                margin:0 auto;
            }
        }
    }
}
