.header-image{
	@media screen and (max-width:$screen-sm - 1) and (orientation:landscape){
		height:50vH;
	}
	
	@media screen and (min-width:$screen-sm) and (orientation:landscape){
		height:100vH;
	}
    
    display: block;
    text-align: center;
    width:100%;
    overflow:hidden;
    > img {
        max-width: 100%;
    }
}
.flexslider{
    .item{
        @media screen and (min-width:$screen-sm) and (orientation:landscape){
            height:calc(100vH);
            overflow:hidden;
            img {
                margin:0 auto;
            }
        }
    }
}

.home [class*="video-thumbnail"] {height:200px;overflow: hidden; }

.flex-control-nav{
    .fanclubs & {
        top:auto;
        bottom:-2 * $vgrid;
    }
}

.flex-direction-nav{
    .flexslider:hover & {
        
        .flex-next {
            right:-4em;
        }
        .flex-prev {
            left:-4em;
        }
    }
    header & a:before{color:rgba(255,255,255,0.8);}
}
