body {
  color: $base-font-color;
  font-family: $base-font-family;
  font-size: $base-font-size;
  line-height: $base-line-height;
}
h1,h2{
      font-family: $heading-font-family;
}
h3,h4,h5,h6{  font-family: $small-heading-family;}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: $heading-line-height;
  margin: 0 0 $small-spacing;
  
  a{color: inherit;}
  .logo & {
      text-align: center;
      @media screen and (max-width:$screen-xs){
          margin:0;
      }
  }
  article & {
  padding-bottom: .5em;
  .home & {
      @media screen and (min-width:$screen-sm) and (orientation:landscape){
      min-height: 3em;
      }
  }
  
  }
  .type-member & {
      text-align: center;
      padding:1em 0;
  }
  .single-member .side &{
      text-align: center;
      padding-bottom: .5em 0;
  }

}
h1, h2 {
	font-size: rem(48);
}
h3, h4 {
	font-size: rem(36);
	font-weight: 400;
}
h5, h6{
	font-size: rem(24);
	font-weight: 400;
}

p {
  margin: 0 0 $small-spacing;
  font-size:1em;
}

a {

  text-decoration: none;
  transition: color $base-duration $base-timing;

  &:active,
  &:focus,
  &:hover {
    color: shade($action-color, 25%);
  }
}

hr {
  border-bottom: $base-border;
  border-left: 0;
  border-right: 0;
  border-top: 0;
  margin: $base-spacing 0;
}
